#lists{
	overflow: hidden;
	.year{
		width: 100%;
		float: left;
		padding: 0 2rem;

		text-align: center;
		@media(min-width: $medium){
			width: 50%;
		}
		@media(min-width: $large){
			width: 25%;
		}
	}
	.list{
		width: 100%;
	}
	.offset, .day{
		float: left;
		width: calc(100% /7);
		padding-top: calc(100% /7);
		border-bottom: solid thin $grey;
	}
	.tv, .movie, .tv.movie{
		position: relative;
		cursor: pointer;
	}
	.day{	
		border-left: solid thin $grey;	
		@include tran();
		&.tv{
			&.opacity10{ background: rgba($blue, 0.1); }
			&.opacity20{ background: rgba($blue, 0.2); }
			&.opacity30{ background: rgba($blue, 0.3); }
			&.opacity40{ background: rgba($blue, 0.4); }
			&.opacity50{ background: rgba($blue, 0.5); }
			&.opacity60{ background: rgba($blue, 0.6); }
			&.opacity70{ background: rgba($blue, 0.7); }
			&.opacity80{ background: rgba($blue, 0.8); }
			&.opacity90{ background: rgba($blue, 0.9); }
			&:hover, &.opacity100{ background: rgba($blue, 1); }
		}
		&.movie{
			&.opacity10{ background: rgba($red, 0.1); }
			&.opacity20{ background: rgba($red, 0.2); }
			&.opacity30{ background: rgba($red, 0.3); }
			&.opacity40{ background: rgba($red, 0.4); }
			&.opacity50{ background: rgba($red, 0.5); }
			&.opacity60{ background: rgba($red, 0.6); }
			&.opacity70{ background: rgba($red, 0.7); }
			&.opacity80{ background: rgba($red, 0.8); }
			&.opacity90{ background: rgba($red, 0.9); }
			&:hover, &.opacity100{ background: rgba($red, 1); }
		}
		&.tv.movie{
			&.opacity10{ background: rgba($purple, 0.1); }
			&.opacity20{ background: rgba($purple, 0.2); }
			&.opacity30{ background: rgba($purple, 0.3); }
			&.opacity40{ background: rgba($purple, 0.4); }
			&.opacity50{ background: rgba($purple, 0.5); }
			&.opacity60{ background: rgba($purple, 0.6); }
			&.opacity70{ background: rgba($purple, 0.7); }
			&.opacity80{ background: rgba($purple, 0.8); }
			&.opacity90{ background: rgba($purple, 0.9); }
			&:hover, &.opacity100{ background: rgba($purple, 1); }
		}
	}
	li{
		&:nth-child(7n+1){
			border-left: 0;
		}
	}
}