#popups{
	position: fixed;
	top: 1rem;
	right: 1rem;

	z-index: 20;

	text-align: right;
	.popup{
		margin-bottom: 1rem;

		color: $white;

		cursor: pointer;
		.info{
			display: inline;
			padding: 0.25rem 0.75rem;

			border-radius: 0.125rem;
			&.tv{
				background: $blueAlt;
			}
			&.movie{
				background: $redAlt;
			}
		}
	}
	.type{
		font-weight: bold;

		text-transform: uppercase;
	}
}